<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--1，注解扫描的基础包路径-->
    <context:component-scan
        base-package="com.ssm"/>

    <!--2，springmvc注解扫描驱动-->
    <mvc:annotation-driven/>

    <!--3，前端页面中的静态资源处理交给web自己处理-->
    <mvc:default-servlet-handler/>

    <!--4，视图解析映射-->
    <bean
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        <!--配置页面请求的前缀-->
        <property name="prefix"
                  value="/WEB-INF/jsps/"/>

        <!--配置页面请求的后缀-->
        <property name="suffix"
                  value=".jsp"/>

    </bean>


</beans>